* {
    border: 1px solid red;
}

div {
    color: blue;
}

.meine-klasse {
    color: rgb(187, 25, 237);
}

#heading2 {
    font-size: xx-large;
}


div {
    /* color: blue; */
    color: green;
    font-size: 7em;
    font-style: italic;
    color: red;
    font-family: revert;
}