.foo {
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    background-color: lightblue;
}

.bar {
    background-color: green;
    aspect-ratio: 1;
    position: absolute;
    padding: 1em;
    border: solid 3px lightsalmon;
    margin-top: 3rem;
    margin-left: 3rem;
}